* {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #87b6d1;
}

main {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.1);
}
img.lado {
    float: right;
    width: 150px;
    height: 150px;
    margin-left: 5px;
    margin-bottom: 5px;
}